body{
    margin: auto;
  width: auto;
  padding: 10px;
      
}

.div-welcome{
    margin-top: 80px;
    padding-bottom: -50px;
}

.div-form{
    margin-top: 100px;
    
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-name{
    width: 500px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 8px;
    font-size: 17px;
    padding-left: 10px;
}

#pass-word{
    width: 500px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 8px;
    font-size: 17px;
    font-family: sans-serif;
    padding-left: 10px;
}

.button-1 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #3535f6;
    border-radius: 8px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 50px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 350px;
    margin-left: 5px;
  }
  
  .button-1:disabled {
    cursor: default;
  }
  
  .button-1:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }

  .button-2 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #ea2727;
    border-radius: 8px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 50px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px;
    margin-left: 5px;
  }
  
  .button-2:disabled {
    cursor: default;
  }
  
  .button-2:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }

  .div-register{
    align-items: center;
    display: flex;
    justify-content: center;
   
  }

  .div-hyperlink{
    text-decoration: none;
  }